<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.product.mapper.CartMapper">
  <select id="selectCartList" resultType="CartVO">
  	SELECT 	*
	FROM 	cart c JOIN product p 
	ON 		c.product_id = p.product_id
	JOIN	image i ON p.product_id = i.product_id
	WHERE 	c.member_id = #{memberId}
	AND		i.main = 'Y'
  </select>
  
  <insert id="insertCart" parameterType="CartVO">
  	INSERT INTO cart ( product_id, 
  					   member_id, 
  					   cnt )
  			  VALUES ( #{productId}, 
  			 		   #{memberId}, 
  			 		   #{cnt})
  </insert>

	
  <delete id="deleteCart" parameterType="CartVO">
  	DELETE FROM cart
  	WHERE 	product_id = #{productId}
  	AND		member_id = #{memberId}
  </delete>
  
  <select id="cartCheck" resultType="int">
  	SELECT 	COUNT(*) as count
  	FROM	cart
  	WHERE	product_id = #{productId}
  	AND		member_id = #{memberId}
  </select>
</mapper>